<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Bootstrap Sign In App</title>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href="style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">I am Ansel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-custom">
            <li class="menu-item"><a class = "white" href="/">Home</a></li>
            <li class="menu-item"><a class = "white" href="/about">About</a></li>
            <li class="menu-item"><a href="/sign-in" class="menu-btn white">Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="flash notice">
        <%=flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash alert">
        <%=flash[:alert] %>
      </div>
    <% end %>
    <%=yield %> 

    <div class="container">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2015 Jen Shannon &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>